[submodule "docs"]
	path = docs
	url = git@github.com:michel-klein/algashop-docs.git
[submodule "microservices/ordering"]
	path = microservices/ordering
	url = git@github.com:michel-klein/algashop-ordering.git
